
@using RunShawn.Web.Areas.Default.Models.News
@model  List<ArticleListItemViewModel>

@{ 
    bool active = true;
    foreach (var item in Model)
    {
        <div class=" @((Model.Count() > 1) ? "item" : String.Empty) @((active && Model.Count() > 1) ? "active" : String.Empty)">
            <div class="huge-box-container">
                <a href="@Url.Action(MVC.Default.News.Details(item.Id))">
                    <div class="huge-box @(string.IsNullOrEmpty(item.FeaturedImage) ? "empty" : String.Empty)" style="background-image: url(@(string.IsNullOrEmpty(item.FeaturedImage) ? $"'{Url.Content("~/Content/images/empty-photo.png")}'" : item.FeaturedImage));">
                        <header class="box-header">
                            <section class="text">
                                <h1>@item.Title</h1>
                                <p>@(string.IsNullOrEmpty(item.Description) ? "empty" : String.Empty)</p>
                            </section>
                        </header>
                        <footer class="box-footer">
                            <div class="article-category" style="background-color:@item.CategoryColor;">@item.CategoryTitle</div>
                            <div class="article-info">
                                <span class="data">@item.PublishDate.ToString("dd MMMM yyyy")</span>
                                <span class="break">|</span>
                                <span class="autor-name">@item.CreatedByName</span>
                            </div>
                        </footer>
                    </div>
                </a>
            </div>
        </div>
        active = false;
    }
}