
@using RunShawn.Web.Areas.Default.Models.News
@model IPagedList<ArticleListViewModel>

<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-sm-4 p0">
               
                    <div class="huge-box trips" style="background-image: url('@item.FeaturedImage');">
                        <header class="box-header">
                            <section class="text">
                                <h1></h1>
                                <p>
                                    <a href="@Url.Action(MVC.Default.News.Details(item.Id))">
                                        @item.Title
                                     </a>
                                </p>
                            </section>
                        </header>
                        <footer class="box-footer">
                            <div class="article-category">@item.CategoryTitle</div>
                            <div class="article-info">
                                <span class="data">@item.PublishDate.ToLongDateString()</span>
                                <span class="break">|</span>
                                <span class="autor-name">@item.CreatedByName</span>
                            </div>
                        </footer>
                    </div>
            </div>
        }
    </div>
    </div>