
@{
    ViewBag.Title = "Dashboard";
}

<div class="awards-container">
    <div class="single-award">
        <div class="image-container"><img src='@Url.Content("~/Content/images/awards/1.png")' alt="" /></div>
        <div class="header">Koszulka</div>
        <div class="poins">1500 pkt</div>
        <div class="button">Wybieram</div>
    </div>
    <div class="single-award">
        <div class="image-container"><img src='@Url.Content("~/Content/images/awards/2.png")' alt="" /></div>
        <div class="header">Bilet do kina</div>
        <div class="poins">300 pkt</div>
        <div class="button">Wybieram</div>
    </div>
    <div class="single-award">
        <div class="image-container"><img src='@Url.Content("~/Content/images/awards/4.png")' alt="" /></div>
        <div class="header">Piłka do gry</div>
        <div class="poins">3000 pkt</div>
        <div class="button">Wybieram</div>
    </div>
    <div class="single-award">
        <div class="image-container"><img src='@Url.Content("~/Content/images/awards/5.png")' alt="" /></div>
        <div class="header">Plecak</div>
        <div class="poins">3500 pkt</div>
        <div class="button">Wybieram</div>
    </div>
    <div class="single-award">
        <div class="image-container"><img src='@Url.Content("~/Content/images/awards/6.png")' alt="" /></div>
        <div class="header">Obciążenie</div>
        <div class="poins">5000 pkt</div>
        <div class="button">Wybieram</div>
    </div>
    <div class="single-award">
        <div class="image-container"><img src='@Url.Content("~/Content/images/awards/7.png")' alt="" /></div>
        <div class="header">Schowek na rower</div>
        <div class="poins">2500 pkt</div>
        <div class="button">Wybieram</div>
    </div>
</div>



