
@{
    ViewBag.Title = "Create";
}

@using RunShawn.Web.Areas.Admin.Models.Users
@model UserViewModel

@using (var group = Html.Bootstrap().ButtonGroup().Begin())
{
    @group.LinkButton("Powrót", MVC.Admin.Users.List()).SetIcon(Icon.ArrowLeft).SetState(ButtonState.Info)
}

@using (Html.Bootstrap().Heading2().Begin())
{
    <text>Dodaj Użytkownika</text>
}

@using (var form = Html.Bootstrap().Form(MVC.Admin.Users.Create()).Begin())
{
    @Html.AntiForgeryToken()
    <h3>Dane</h3>
    <div class="form-group-twice">
        @form.InputFor(x => x.FirstName).SetControlLabel("Imię")
        @form.InputFor(x => x.LastName).SetControlLabel("Nazwisko")
    </div>  
    @form.InputFor(x => x.UserName).SetControlLabel("Login")
    @form.InputFor(x => x.Email).SetControlLabel("Email")
    @form.PasswordFor(x => x.Password).SetControlLabel("Hasło")
    @form.InputFor(x => x.PhoneNumber).SetControlLabel("Numer Telefonu")
    @Html.LabelFor(x => x.LockoutEnabled)
    @Html.CheckBoxFor(x => x.LockoutEnabled)
    <div class="form-group">
            @Html.LabelFor(x => x.LockoutEndDateUtc)
            @Html.TextBoxFor(x => x.LockoutEndDateUtc, "{0:dd/MM/yyyy}", new { @class = "datepicker" })
    </div>
    <h3>Role</h3>
    <div class="form-group">
        @Html.DropDownListFor(x => x.RoleId, new SelectList(Model.Roles, "Value", "Text", Model.Roles != null ? Model.RoleId : null), "Nie przypisana")
    </div>
    @form.Submit().SetState(ButtonState.Primary).SetSize(ButtonSize.Lg).SetText("Zapisz");
}
<script>
    $(document).ready(function () {
        var flag = $("#LockoutEnabled")
        var datepicker = $('#LockoutEndDateUtc');

        if (flag[0].checked) {
            datepicker.parent().show();
            datepicker.removeAttr("disabled");
        }
        else {
            datepicker.parent().hide();
            datepicker.attr("disabled", "true");
        }
        flag.change(function () {
            if (flag[0].checked) {
                datepicker.parent().show();
                datepicker.removeAttr("disabled");
            }
            else {
                datepicker.parent().hide();
                datepicker.attr("disabled", "true");
            }
        });
    });
</script>