@model MvcSiteMapProvider.Web.Html.Models.SiteMapPathHelperModel
@using System.Web.Mvc.Html
@using System.Linq
@using MvcSiteMapProvider.Web.Html.Models

<ol class="breadcrumb">
@foreach (var node in Model) {
    bool active = (node == Model.Last() ? true : false);

    <li class="@(active ? "active" : String.Empty)">
        @if (active)
        {
            @node.Title
        }
        else
        {
            <a href="@node.Url" title="@node.Title">@node.Title</a>

        }
    </li>
}
</ol>