@using Microsoft.AspNet.Identity
@using RunShawn.Core.Helpers.Enums

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - Runshawn</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link href="~/Content/MvcGrid/mvc-grid.css" rel="stylesheet">
    <link href="~/Content/modal/modal.css" rel="stylesheet">
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/dashboard")
    @Styles.Render("~/Content/datepicker")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/js")
    <script>
        NProgress.start();

        $(document).ready(function () {
            $('.input-validation-error').siblings('.form-group').addClass('has-error');
            $('.field-validation-error').addClass('text-danger');
        });
    </script>
</head>
<body>

    <header class="dashboard-header">
        <div class="page-logo"><a href="@Url.Action(MVC.Admin.Dashboard.Index())"> <i class="fas fa-business-time"></i> Demo</a></div>
        <nav class="dashboard-nav">
            <ul class="navigation-menu">
                @if (User.Identity.IsAuthenticated)
                {
                <li><a href="#">@User.Identity.Name</a></li>
                }
            </ul>
        </nav>
        <section class="user-panel">
            <i class="far fa-bell" id="notification-button"></i>
            <div class="user-image">
                <img src="@Url.Action(MVC.Admin.Users.GetAvatar())" alt="user">
            </div>
            <div class="dropdown_list-user">
                <div class="account-info">
                    <img src="@Url.Action(MVC.Admin.Users.GetAvatar())" alt="user">
                    <ul>
                        @if (User.IsInRole(RoleTypes.Administrator.ToString()))
                        {
                        <li class="name"><a href="#">@RoleTypes.Administrator.GetDescription()</a></li>
                        }
                        @if (User.Identity.IsAuthenticated)
                        {
                        <li class="group"><a href="#">@User.Identity.Name</a></li>
                        }
                        <li class="rs-btn-default rs-btn-blue"><a href="@Url.Action(MVC.Admin.Manage.Index())">Ustawienia Konta</a></li>
                    </ul>
                </div>
                <div class="logout">
                    @if (Request.IsAuthenticated)
                    {
                        using (Html.BeginForm(MVC.Admin.Account.LogOff(), FormMethod.Post, new { id = "logoutForm"}))
                        {
                    @Html.AntiForgeryToken()
                    <button class="rs-btn-default rs-btn-blue">
                        <a href="javascript:document.getElementById('logoutForm').submit()">Wyloguj się</a>
                    </button>
                        }
                    }
                </div>
            </div>
            <div class="dropdown_list-notifications">
                <section class="dropdown_list-header">
                    Powiadomienia
                </section>
                <section class="notifications">
                    <ul>
                        <li>
                            <div class="message">Rozważ zmianę hasła do panelu administratora</div>
                            <div class="date">16 gru 2018</div>
                        </li>
                        <li>
                            <div class="message">Zbliża się termin opłacenia hostingu</div>
                            <div class="date">16 lis 2018</div>
                        </li>
                    </ul>
                </section>
            </div>
        </section>
    </header>
    <main id="dashboard-main">
        @Html.MvcSiteMap().Menu("BootstrapMenuHelperModel")
        <section id="page-container">
            @{
                 var alert = TempData["Alert"] as Alert;
                 if(alert != null)
                 {
                    Html.RenderPartial(MVC.Shared.Views._Alert, alert);
                 }
            }
            <div class="breadcrumbs-container">
                @Html.MvcSiteMap().SiteMapPath()
            </div>
            @RenderBody()
        </section>
    </main>
    <footer class="main-footer">Demo © @DateTime.Now.Year Wszelkie prawa zastrzeżone.</footer>
</body>

<script src="~/Scripts/MvcGrid/mvc-grid.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
<script src="~/Scripts/utils.js"></script>
</script>
@Scripts.Render("~/bundles/validate")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/datepicker")
</html>