@using Microsoft.AspNet.Identity
@using RunShawn.Web.Extentions
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - Runshawn</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link href="~/Content/MvcGrid/mvc-grid.css" rel="stylesheet">
    <link href="~/Content/modal/modal.css" rel="stylesheet">
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/dashboard")
    @Styles.Render("~/Content/datepicker")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/js")
    <script>
        NProgress.start();

        $(document).ready(function () {
            $('.input-validation-error').siblings('.form-group').addClass('has-error');
            $('.field-validation-error').addClass('text-danger');
        });
    </script>
</head>
<body>

    <header class="dashboard-header">
        <div class="page-logo"><a href="@Url.Action(MVC.Admin.Dashboard.Index())"> <i class="fas fa-heart"></i> HealthBack</a></div>
        <nav class="dashboard-nav">
            <ul class="navigation-menu">
                @if (User.Identity.IsAuthenticated)
                {
                    <li><a href="#">@User.Identity.Name</a></li>
                }
            </ul>
        </nav>
        <section class="user-panel">
            <i class="far fa-bell" id="notification-button"></i>
            <div class="user-image">
                <img src="@Url.Action(MVC.Admin.Users.GetAvatar())" alt="user">
            </div>
            <div class="dropdown_list-user">
                <div class="account-info">
                    <img src="@Url.Action(MVC.Admin.Users.GetAvatar())" alt="user">
                    <ul>
                        @if (User.IsInRole(RoleTypes.Administrator.ToString()))
                        {
                            <li class="name"><a href="#">@RoleTypes.Administrator.GetDescription()</a></li>
                        }
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="group"><a href="#">@User.Identity.Name</a></li>
                        }
                        <li class="rs-btn-default rs-btn-blue"><a href="@Url.Action(MVC.Admin.Manage.Index())">Ustawienia Konta</a></li>
                    </ul>
                </div>
                <div class="logout">
                    @if (Request.IsAuthenticated)
                    {
                        using (Html.BeginForm(MVC.Admin.Account.LogOff(), FormMethod.Post, new { id = "logoutForm"}))
                        {
                            @Html.AntiForgeryToken()
                            <button class="rs-btn-default rs-btn-blue">
                                <a href="javascript:document.getElementById('logoutForm').submit()">Wyloguj się</a>
                            </button>
                        }
                    }
                </div>
            </div>
            <div class="dropdown_list-notifications">
                <section class="dropdown_list-header">
                    Powiadomienia
                </section>
                <section class="notifications">
                    <ul>
                        <li>
                            <div class="message">Rozważ zmianę hasła do panelu administratora</div>
                            <div class="date">16 gru 2018</div>
                        </li>
                        <li>
                            <div class="message">Zbliża się termin opłacenia hostingu</div>
                            <div class="date">16 lis 2018</div>
                        </li>
                    </ul>
                </section>
            </div>
        </section>
    </header>
    <main id="dashboard-main">
            @Html.MvcSiteMap().Menu("BootstrapMenuHelperModel")
        <section id="page-container">
             @{
                 var alert = TempData["Alert"] as Alert;
                 if(alert != null)
                 {
                    Html.RenderPartial(MVC.Shared.Views._Alert, alert);
                 }
             }
            <div class="breadcrumbs-container">
                @Html.MvcSiteMap().SiteMapPath()
            </div>
            @RenderBody()
        </section>
    </main>
    <footer class="main-footer">HealthBack © @DateTime.Now.Year Wszelkie prawa zastrzeżone.</footer>
</body>

<script src="~/Scripts/MvcGrid/mvc-grid.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
<script src="~/Scripts/utils.js"></script>

<script>
new Chart(document.getElementById("pie-chart"), {
    type: 'pie',
    data: {
        labels: ["Basen", "Siłownia", "Jazda na rowerze", "Zajęcia fitness", "Nordic Walking"],
        datasets: [{
        label: "Population (millions)",
        backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850"],
        data: [2478,5267,734,784,433]
        }]
    },
    options: {
        title: {
        display: true,
        text: 'Popularność aktywności wśród pracowników'
        }
    }
});

new Chart(document.getElementById("bar-chart-horizontal"), {
    type: 'horizontalBar',
    data: {
    labels: ["Andrzej Nowicki", "Patrycja Tomaszewska", "Marcelina Grabowska", "Martyna Kwiatkowska", "Zuzanna Kowalska"],
    datasets: [
        {
        label: "Punkty",
        backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850"],
        data: [	2556,1567,1245,906,887]
        }
    ]
    },
    options: {
    legend: { display: false },
    title: {
        display: true,
        text: 'Najbardziej aktywni pracownicy w tym miesiącu'
    }
    }
});
new Chart(document.getElementById("line-chart"), {
    type: 'line',
    data: {
        labels: ['Styczeń','Luty','Marzec','Kwiecień','Maj','Czerwiec','Lipiec','Sierpień','Wrzesień','Październik','Listopad', 'Grudzień'],
        datasets: [{ 
            data: [0, 80, 85, 60, 70, 80, 90, 100, 98, 89, 91, 99],
            label: "Basen",
            borderColor: "#3e95cd",
            fill: false
        }, { 
            data: [0, 50, 35, 40, 30, 50, 60, 70, 69, 65, 70, 99],
            label: "Siłownia",
            borderColor: "#8e5ea2",
            fill: false
        }, { 
            data: [0, 20, 15, 30, 20, 35, 70, 80, 80, 70, 60, 20],
            label: "Jazda na rowerze",
            borderColor: "#3cba9f",
            fill: false
        }, { 
            data: [0, 10, 25, 40, 35, 50, 40, 60, 48, 50, 55, 90],
            label: "Zajęcia fitness",
            borderColor: "#e8c3b9",
            fill: false
        }, { 
            data: [0, 5, 8, 12, 20, 25, 20, 20, 24, 23, 20, 20],
            label: "Nordic Walking",
            borderColor: "#c45850",
            fill: false
        }
        ]
    },
    options: {
        title: {
        display: true,
        text: 'Aktywność pracowników w ciągu roku'
        }
    }
    });
</script>
<<<<<<< HEAD
    @Scripts.Render("~/bundles/validate")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/datepicker")
</html>
=======
</html>

>>>>>>> 20741fad4068d6cc87e0871056449aa0a02bba22
